.gisLayerSwapperDijit {
    width: 100%;
    padding-bottom: 20px;
}

.gisLayerSwapperDijit label {
    font-weight: bold;
    margin-left: 5px;
    display: inline;
}

.gisLayerSwapperDijit ul {
    width: 100%;
}

.gisLayerSwapperDijit ul li {
    margin-bottom: 1em;
}

.gisLayerSwapperDijit ul li:last-of-type {
    text-align: right;
}

.gisLayerSwapperDijit .layerSelectDom .layerSelectInput {
    width: 100%;
}

.gisLayerSwapperDijit .layerSwipeDom .layerSwipeSelect {
    width: 100%;
}

.gisLayerSwapperDijit .layerSwipeDom .layerSwipeSelect .dijitStretch {
    width: 100%;
}

.gisLayerSwapperDijit .resetIcon {
    color: #adadad;
}

.gisLayerSwapperDijit .layerControlUpdate {
    width: 40px;
    line-height: 15px;
    text-align: center;
    padding-right: 0px;
    margin-left:10px;
    float: right;
}

.gisLayerSwapperDijit .layerControlUpdate .layerControlUpdateIcon {
    display: none;
}
